<configuration>
  <packageSources>
    <clear />
    <add key="string-extension-feed" value="https://pkgs.dev.azure.com/jlenis/StringExtensionsCI/_packaging/string-extension-feed/nuget/v3/index.json" />
  </packageSources>
</configuration>
<configuration>
  <packageSources>
    <clear />
    <add key="string-extension-feed" value="https://pkgs.dev.azure.com/jlenis/StringExtensionsCI/_packaging/string-extension-feed/nuget/v3/index.json" />
  </packageSources>
</configuration>
